#contact_modal {
    display: none;
}

#photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
}

#photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#photograph-header h2 {
    color: #D3573C;
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: lighter;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.location {
    font-size: 1.3rem;
    padding: 0 0 10px;
}

#details {
    width: 250px;
    min-height: 40px;
    background: #DB8876; 
    position: fixed;
    bottom: 0;
    right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0;
}

.like {
    display: flex;
    flex-direction: row-reverse;
}

.heart {
    width: 20px;
    padding: 0;
    margin: 0;
    margin: 0 10px 0;
}

#album {
    margin-top: 20px;
    padding: 0px 100px;
}

#sort {
    display: flex;
}

#sort__title {
    width: auto;
    margin-right: 50px;
}

.sort {
    background: #901C1C;
    color: white;
    border-radius: 5px;
}

#sort__menu {   
    display: none;
}

.sort__menu__item {
    border-top: white solid 1px;
    padding: 15px 10px;
    margin: -1px 10px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.fa-chevron {
    width: 15px;
    margin-left: 10px;
}

#chevron1 { 
    display: block;
}

#chevron2 {
    display: none;
}

#chevron3 {
    display: none;
}

#chevron4 {
    display: none;
}

#chevron5 {
    display: none;
}

#chevron6 {
    display: none;
}

#choice1 {
    order: 0;
}

#choice2 {
    order: 0;
}

#choice3 {
    order: 0;
}

.sort__menu__ul {
    display: flex;
    flex-direction: column;
}

#sort__button {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
}